div{
width: 800px;
height: 100px;
background-color: blue;
padding: 50px;
margin: 40%auto;
vertical-align: 200px 200px;
box-shadow: 5px 4px 8px 8px rgb(223,63,180);
border: 5px solid black;

}
p{
background-color: red;
color: white;
padding: 20px;
margin: 10px;
text-align: left;
box-shadow: 7px 4px 9px 5px rgb(54, 21, 1);
text-shadow: 6px 4px 5px rgb(68,200,47);




}