div{width:  900px;
    height: 100px;
    background-color: black;
    padding: 48px;
    margin: 20% auto;










}
p{
    background-color: aqua;
    color: black;
    padding: 20px;
    text-align: justify;
    







}